@if (state?.isOpen) {
  <div class="confirm-overlay" (click)="onCancel()">
    <div class="confirm-container" (click)="$event.stopPropagation()" [class]="state?.options?.type">
      <div class="icon-wrapper">
        <div class="icon-circle">
          @if (state?.options?.type === 'warning') {
            <i class="ri-alert-fill"></i>
          }
          @if (state?.options?.type === 'danger') {
            <i class="ri-delete-bin-line"></i>
          }
          @if (state?.options?.type === 'info') {
            <i class="ri-information-fill"></i>
          }
        </div>
      </div>

      <div class="content space-y-2">
        <h3>{{ state?.options?.title }}</h3>
        <p>{{ state?.options?.message }}</p>
      </div>

      <div class="actions">
        <button class="btn-cancel" (click)="onCancel()">
          {{ state?.options?.cancelText }}
        </button>
        <button class="btn-confirm" (click)="onConfirm()" [class]="state?.options?.type">
          {{ state?.options?.confirmText }}
        </button>
      </div>
    </div>
  </div>
}
